/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

/*  Navigation and Logo  */

.nav-logo {
	display: flex;
	align-items: center;
	height: 100px;
	justify-content: space-evenly;
}

.nav-items {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
}

.nav-items a {
	text-decoration: none;
	color: gray;
}

/*   Header  */

.hero {
	display: flex;
	justify-content: space-around;
}

.hero h1 {
	font-size: 4em;
	text-align: center;
}

.button {
	width: 150px;
	border: 1px solid #000;
	text-align: center;
	padding: 5px;
}

.button a {
	text-decoration: none;
	color: grey;
}

.title-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*   About Features Section */

.about-features {
	width: 95%;
	border-top: 1px solid #000;
	display: flex;
	justify-content: center;
	margin: 100px auto;
	font-size: 1.5em;
	line-height: 1.3;
}

.features, .about, h2 p {
	margin-top: 40px;
	width: 50%;
}

/* Image Divider */

.image-splitter {
	text-align: center;
	margin: 0 auto 60px auto;
}

.image-splitter img {
	width: 95%;
}

/*   Other Info Section   */

.other-info {
	display: flex;
	width: 95%;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 1.3;
}

.info-one, .info-two, .info-three {
	width: 30%;
}

/*   Contact Section    */

.contact {
	width: 95%;
	display: flex;
	flex-direction: column;
	margin: 70px auto;
	font-size: 1.5em;
}

.contact address {
	font-size: .75em;
}

/*    Footer    */

footer {
	text-align: center;
	margin: 100px auto;
}